html{
	font-family: 'Kanit', sans-serif;
	font-size: 16px;
	}

*{
	margin: 0;
	padding: 0;
	border:0;
	font-size: 100%;
	}

h1{
	color: white;
	font-size: 70px;
	letter-spacing: 2px;
	text-shadow: black 0.1em 0.1em 0.2em;
	}

a{
	text-decoration: none;
	padding: 10px;
	}


a:hover{
	color: rgba(70,70,70,0.5);
	}

a:visited{
	color: black;
}



/*  dispo générale du header */
	header	{
		display:flex;
 		padding: 1%;
 		margin-top: 1%;
 		font-size: 25px;
		letter-spacing: 2px;
		position: sticky; /*  coller la barre de nav en scrollant */
		top: 0px;
		background-color: rgba(255,255,255);
		margin: 10px;
		}

	header a { /*  couleur des liens dans le menu */
		color: black;
		}


/*  le menu */

	.menu {
		margin-top: 25px;
		}

	.menu li{
		margin: 30px;
		float: left;  /*mettre les élements en ligne*/
		text-align: center;
	}

	.menu a:hover{  /*ligne noire en dessous des onglets du menu quand on passe dessus*/
		border-bottom: 1px solid black;
		}

	.menu ul { /*suppression des puces automatique de la liste*/
		list-style-type: none;  
		}

		header nav ul::after{
			content: "";
			display: table;
			clear: both;
		}

	/*sous menu*/
		.sous{
			display: none;  /*la on fait disparaitre les sous menus*/
			position: absolute; /*on fixe les sous menus*/
			width: 100%;
			background-color: white;
			}
		
		.menu ul li:hover .sous{  /*les sous menu apparaissent quand on passe la souris dessus*/
			font-size: 15px;
			display: block;
			line-height: 8px;
		}

		.sous li{
			float: none;
			width: 100%;
			text-align: left;

			}

	
	/* les onglets réseaux */
	#reseaux{
		
		padding-left: 5%;
		margin-top: 50px;
	}


#bandeau{
	margin-top: 2%;
	margin-bottom: 0%;
	display:flex;
	padding: 18px;
	}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@keyframes AnimationName {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}


	#contenu{
		text-align: center;
		font-size: 30px;
		padding: 15%;
		background: linear-gradient(81deg, #000000, #5f5f5f);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
		}

		#contenu a{
			display: flex;
			color: white;
			border: 2px solid white;
			width: 90%;
		}

		/*shine effect au passage de la souris*/
		#contenu a:hover{     
			
			color: white;
			-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  			-webkit-mask-size: 200%;
  			animation: shine 2s infinite;
		}

		@-webkit-keyframes shine {
 		 from {
    		-webkit-mask-position: 150%;
  				}
  
  		to {
    		-webkit-mask-position: -50%;
  			}
			}

		#logoVR{
			padding-top: 4%;
		}

		#logoVR p{
			color: white;
			font-size: 12px;
		}

		#photoVR{
			background: url('./museeVima.png');
			background-repeat: no-repeat;
			background-size: cover;	
			width: 50%;
		}


/*  les parcours */

	#parcours{
		padding: 4%;
	}


	#parcours h2{
		text-align: center;
		font-size: 50px;
		}

footer{
	text-align: center;
	padding-bottom: 0%;
	margin-top: 40px;
	}

/*responsivité*/
	@media screen and (max-width: 414px)
	{
	#apropos{
		flex-direction: column;
		}
	#services{
		flex-direction: column;
		}

	nav a{
		display: block;
		padding: 10px;
		}
	header{
		flex-direction: row;
		}
	}

#up  {
	padding-left: 85%;
	padding-bottom: 1%;
	}

#progress{
	background-color: black;
	height: 4px;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999; 
}

/*nav cote à cote*/
#page1 {
    display: flex;
}

#col {	
    flex: 1; 
    padding: 1em;
    padding-right: 100px;
}

#up  {
    padding-left: 85%;
    padding-bottom: 1%;
    }

.sketchfab-embed-wrapper {
	padding-left: 100px;
}

#titre1 {
    padding-left: 115px;
}

/*carousel*/

* {box-sizing:border-box}

.slideshow-container {
  max-width: 60%;
  position: static;
  margin: auto;
}

.mySlides {
  display: none;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0s;
  animation-name: fade;
  animation-duration: 0s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*description des expositions*/

#desc {
	padding-left: 15%;
    padding-right: 15%;
	text-align: justify;
	padding-bottom: 50px;
}

#H {
	padding-left: 100px;
	padding-bottom: 25px;
	font-size: 30px;
	padding-top: 2%;
}


#progress{
	background-color: black;
	height: 4px;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999; 
}